@font-face {
  /*フォントの名前*/
  font-family: "03スマートフォントUI";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/03スマートフォントUI.woff") format("woff");
}


@font-face {
  /*フォントの名前*/
  font-family: "Boku2-Regular";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/Boku2-Regular.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "Corporate-Logo-Medium-ver3";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/Corporate-Logo-Medium-ver3.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "Corporate-Mincho-ver3";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/Corporate-Mincho-ver3.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "komorebi-gothic-P";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/komorebi-gothic-P.woff") format("woff");
}
@font-face {
  /*フォントの名前*/
  font-family: "アプリ明朝UD";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/アプリ明朝UD.woff") format("woff");
}
@font-face {
  /*フォントの名前*/
  font-family: "アプリ明朝UD";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/ocr-bfont.woff") format("woff");
}

