@font-face {
  /*フォントの名前*/
  font-family: "smartphoneui";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/03スマートフォントUI.woff") format("woff");
}


@font-face {
  /*フォントの名前*/
  font-family: "bokugoshic";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/Boku2-Regular.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "CorporateLogo";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/Corporate-Logo-Medium-ver3.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "CorporateMincho";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/Corporate-Mincho-ver3.woff") format("woff");
}

@font-face {
  /*フォントの名前*/
  font-family: "appminntyo";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("https://hamatakuyaei.github.io/font/アプリ明朝UD.woff") format("woff");
}

